@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proximanova-black-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

/*****************************************************************CSS RESET***************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;0
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------Css Reset ends---------------------------------------------------------*/

*{
	box-sizing: border-box;
}
html{
	height: 100%;
}
body{
	font-size:15px;
	font-family: 'ProximaNova',san-serif;
	font-weight: 400;
	min-height: 100%;
}
table{
	width:100%;
}

table thead{
	background:#f4f4f4;
	padding:20px;
}
table th{
	padding:20px;
}
table td{
	padding:10px;
	text-align: center;
}
.wrapper{
	min-height: 100vh;
	width: 100%;
	position: relative;
	padding-bottom: 100px;
}
.container{
	max-width: 960px;
	margin:0 auto;
	padding:0 15px;
}
a{
	text-decoration: none;
	color:#000;
}

hr{
	color:#ccc;
}
h1,h2,h3,h4,h5,h6{
	color:#000;
}

h2{
	font-size:20px;
	font-weight: 600;
}
.header{
	position: fixed;
	width: 100%;
	padding:20px;
	background: white;
}

.navigation-bar{
	float:right;
}

nav ul li{
	display: inline-block;
	padding:15px;
}

nav ul li a{
	color:black;
}

nav ul li a:hover,.section-content a:hover{
	color:#ccc;
}

span.heading{
	font-weight: 700;
}
section{
	padding:100px;
}
.button{
	padding: 10px 20px;
	color:white;
	border:none;
}
.btn-blue{
	background:#0062a2;
}
.btn-sky{
	background:#5bc0de;
}
.btn-green{
	background:#2E8B57;
}
.banner{
	padding:200px;
	background-size: cover;
	background-repeat: no-repeat;
}

.banner h1,.banner p{
	text-align: center;
	color:white;
	font-size:90px;
	font-weight: 700;
}

.banner p{
	font-size:37px;
}
.logo-wrapper{
	float: left;
}

.logo-wrapper img{
	max-width:125px;
}

.menu-div{
	background:#f4f4f4;
	display: inline-block;
	width:30%;
	text-align: center;
	margin: 20px 10px;
	padding:10px;
}

.menu-div img{
	max-width:150px;
	padding:20px;
}

.section-image{
	border-radius: 50%;
	margin:20px;
}

.section-content{
	margin-bottom: 20px;
}


.footer{
	position:absolute;
	bottom: 18px;
	right: 0;
	left: 0;
	text-align: center;
	font-size:12px;
	border-top:1px solid #f4f4f4;
	padding:10px;
}

.icon{
	padding-right: 1px;
}

.heading-div h2{
	margin-top:20px;
	text-align: center;
	padding:20px;
	font-size: 25px;
}

.section-content a{
	color:#000;
	font-weight: 600;
}

.login-div{
	color:#f4f4f4;
	padding:100px;
	text-align: center;
}

.form-div{
	width:400px;
	background:#f4f4f4;
	padding:20px;
	margin:40px auto 10px;
	box-shadow: 0 0 4px #000;
}
.login-div .button{
	border:none;
}

.form-div h2{
	font-weight: 600;
	font-size: 30px;
}

.form-group{
	margin:20px;
}
.input-field{
	padding:10px 30px;
	margin-bottom: 10px;
}
input[readonly="readonly"]{
	background: #DCDCDC;
}
.div-forgot-password{
	font-size: 14px;
	float: left;
}

.div-forgot-password a, .div-register a{
	color:#0062a2;
	
}
.div-forgot-password a:hover, .div-register a:hover{
	text-decoration: underline;
}

.div-register-organization{
	padding:100px;
}

.div-form{
	background: #f4f4f4;
	padding:20px;
	text-align: center;
}

.search-view-organization{
	padding:100px 0 50px;
}

.search-div{
	margin-top:20px;
	text-align: center;
}

.three-column{
	display: flex;
	flex-wrap: wrap;
	
}
.view-organization{
	margin: 20px 20px 0 0;
	padding:20px;
	background:#f4f4f4;
	width:30.33%;
}
.view-organization p, .view-organization h2{
	margin:20px;
}
.search-view-organization h2{
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	margin:20px;
}
.admin-menu, .organization-menu{
	padding:150px 0 50px;
}
.admin-menu h2,.display-org-list h2,.delete-view-categories h2,.search-view-organization h2, .organization-menu h2, .add-requirements h2{
	font-size:20px;
	font-weight: 700;
	text-align: center;
	margin:20px 0;
	border: solid black;
	border-width: 1px 0;
	padding:10px;
}

.display-org-list,.add-delete-categories{
	padding:100px;
}

.add-categories{
	text-align: center;
}
.success{
	color:#5cb85c;
	font-weight: 700;
}
.fail{
	color:	#d9534f;
	font-weight: 700;
}

.div-logout{
	float: right;
}
.view-donors .heading{
	text-align: center;
	margin:20px;
}

.add-requirements{
	padding:100px 0;
}